body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	line-height: 1.6;
	font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313131;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 1000px;
    height: 1000px;
    margin: 10px;
    background-color: #b8b8b8;
    position: relative;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1)

}

a:link, a:visited{
    color: white;
}

a:hover{
    color: lightblue;
}

.left{
	background-color: #47424e;
    padding: 30;
    flex-shrink: 1;
}
.left ul, p{
    color: #f3f6f4;
    padding-left: 50px;
    padding-right: 20px;
}

.left h3{
    color: #f3f6f4;
    padding-left: 40px;
}

.right li, p{
    color: black;
    padding-left: 20px;

}
.right h3{
    color: #6d6577;
    padding-left: 20px;
}
.right{
    flex-shrink: 1;
}

.right #bottom{
	background-color: white;
    padding: 30;
}

.right #top{
    padding: 30;
}

#top{
	background-color: #b8b8b8;
    padding: 0;
    margin: 0;
    
}

#bottom{
    background-color: white;
}

h3{
    padding: 10;
}

h1{
    padding-left: 40px;
}

h4{
    padding-left: 40px;
    padding-bottom: 20px;
}

.left p{
    padding-left: 50px;
}